<!DOCTYPE html>

<html>
  <head>
    <title> Test Vocacional </title>
    <link rel='stylesheet' type='text/css' href='/stylesheet.css'/>
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/site.webmanifest'>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>

  <body>
    <nav class='mainNav'>
      <a href='/'>
        <img id='logo' src='/Flying_Hellfish_Logo.png'/>
      </a>
      <h1 id='mainTitle'>
        Tomando el Test
      </h1>
    </nav>
    <br>

    <div class='quesTitle centered boxShadow'>
      <a class='qTitle'> <%= @question.name %> </a> 
      <hr>
      <a class='qDesc'> <%= @question.description %> </a> <br>
    <br>
      <div>
        <form action='/responses/<%= @survey_id.to_s %>' method='POST'>
          <input type='hidden' name='question_id' value='<%= @question.id %>' >
          <% @question.choices.each do |choice| %>
            <label class='container'><%= choice.text %>
            <% if choice == @question.choiceSelected(@survey_id.to_i) %>
              <input type='radio' name='choice_id' value=<%= choice.id %> checked>
            <% else %>
              <input type='radio' name='choice_id' value=<%= choice.id %>>
            <% end %>
            <span class='checkmark'></span>
            </label>
          <% end %>
          <% if @question.answered?(@survey_id.to_i) %>
            <input type='hidden' name='_method' value='PATCH'>
          <% end %>
          <% if !@question.first? %>
            <button class='button' type='submit' name='next_question' value='false'> Atras </button>
          <% end %>
          <% if @question.last? %>
            <button class='button' type='submit' name='next_question' value='true' > Finalizar </button>
          <% else %>
            <button class='button' type='submit' name='next_question' value='true'> Siguiente </button>
            <% if Survey.find(id: @survey_id).completed? %>
              <button class='button' type='submit' name='next_question' value='end' > Finalizar </button>
            <% end %>
          <% end %>
        </form>
      </div>
    </div>
  </body>
</html>
