<!DOCTYPE html>

<html>
  <head>
    <title> Test Vocacional </title>
    <link rel='stylesheet' type='text/css' href='/stylesheet.css'/>
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/site.webmanifest'>
  </head>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>

  <body>
     <nav class='mainNav'>
        <a href='/'><img id='logo' src='/Flying_Hellfish_Logo.png'/></a>
        <h1 id='mainTitle'> Estadistica De Carreras Elegidas </h1>
        <div class='topNav'>
          <a href='/'>Inicio</a>
          <a href='/careers'>Carreras</a>
          <a href='/surveys_info'>Estadisticas</a>
        </div>
     </nav>

    <br>
    
    <div class="surveys centered">
      <a style="
          float: left;
          padding-top: 10px;
          padding-left: 10px;" > 
        Filtrar por fecha - </a>

      <form action="/surveys_info" method="GET" style="
          background-color: #FF7759a6;
          color: #DFF2EF;
          padding-left: 200px;
          padding-top: 8px;
          padding-bottom: 8px;" >

        <label for="bottom_date">Fecha inicial:</label>
        <input type="date" id="bottom_date"  required name="bottom_date" min="2021-01-01" max="2050-12-31">
    
    
        <label for="top_date">Fecha final:</label>
        <input type="date" id="top_date" required name="top_date" min="2021-01-01" max="2050-12-31">

        <label for="selected_career">Carrera:</label>
        <select name="selected_career" id="selected_career">
          <% Career.all.each do |car| %>
            <option value=<%=car.name %>> <%= car.name %> </option>
          <% end %>
        </select>

        <input style="margin-left: 10px" class='button' type='submit' value='Aceptar'>
      </form>
    </div>

    <% if !@surveys_between_dates.nil? %>    
      <div class="surveys" style="
            background-color: #FF7759a6;
            color: #DFF2EF;
        ">
        <% if @bottom_date > @top_date %>
          <a> La fecha de inicio es menor a la fecha de fin. Por favor intente nuevamente. </a>
        <% else %>
          <a style="
            padding-left: 10px;  
          "> Encuestas completadas entre <%= @bottom_date %> y <%= @top_date %> </a>
          <% if @surveys_between_dates == 1 %>
            <p style="
              padding-left: 10px;  
              padding-bottom: 10px;
              font-size: 18px;
            "> 
            <%= @selected_career %>: <%= @surveys_between_dates %> encuesta completada </p>
          <% else %>
            <p style="
              padding-left: 10px; 
              padding-bottom: 10px; 
              font-size: 18px;
            "> 
            <%= @selected_career %>: <%= @surveys_between_dates %> encuestas completadas </p>
          <% end %>
        <% end %>
      </div>
    <% end %>


    <div class='surveys'>
        <a> Total de encuestas terminadas: <%=Survey.count_completed%> </a>
        <br>
        <br>
      <ul class='inColumns boxShadow centered'>
        <% sorted_careers = Career.all.sort_by { |career| -career.surveys.count } %>
        <% sorted_careers.map { |career| %> 
          <li class='careers'> 
            <a> <%=career.name %>: <%=career.surveys.count %> - <%='%.2f' % ((career.surveys.count.to_f * 100) / Survey.count_completed) %> % </a>
          </li> <br>
          <% } %>
      </ul>
    </div>
  </body>
</html>
